<div class="boards-index">
  <h6>My Boards</h6>
</div>
<br>
<br>
<ul class="boards">
  <% boards.each(function (board) { %>
    <li>
      <a href="#/boards/<%= board.id %>">
        <%= board.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>