<br>
<br>
<br>
<br>
<div class='show-board-header'>
  <h5><%= board.escape('title') %></h4>
</div>

<div class='lists-window'>
  Inside lists window
  <div id='lists'>
    
  </div>
  
  <div id="list-form">
  </div>
</div>